# This file is part of server.
# https://github.com/someuser/somepackage

# Licensed under the MIT license:
# http://www.opensource.org/licenses/MIT-license
# Copyright (c) 2018, Jacek Burys <jacekburys@gmail.com>

prune *
recursive-include server *.py *.ini *.conf *.jpg *.jpeg *.coffee *.js *.css *.scss *.gif *.png *.html *.htm .webassets-manifest
